/* Logo section
 ========================================================================== */
.logo {
    font-size: 30px;
    font-family: "Leckerli One";
    color: #1e1f26;
    text-decoration: none;
    font-weight: 400;
  }

.logo:link {
    text-decoration:none;
}
.logo:hover {
    color: #662225;
}
.logo-img {
    margin-top: -15px;
}

/* Button section
 ========================================================================== */
.hc-btn-primary {
    border-radius: 25px;
    padding: 6px 25px;
    background-color: #662225;
    color: #fff;
    margin-left: 10px; 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
       
}
.hc-btn-primary:link {
    text-decoration: none;
}

.hc-btn-primary:hover {
    background-color: #ffbb00;
    color: #1e1f26;        
    -webkit-box-shadow: -1px 4px 6px -3px #5B5959; 
    box-shadow: -1px 4px 6px -3px #5B5959;
    font-weight: 500;
}

.btn-info{
    background-color: #1e1f26;
    border-radius: 25px;
    border: none;
    font-weight: 600;
}
.btn-info:hover {
    background-color: #ffbb00;
    color: #1e1f26; 
    border: none;       
    -webkit-box-shadow: -1px 4px 6px -3px #5B5959; 
    box-shadow: -1px 4px 6px -3px #5B5959;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #ffbb00;
    border: none;    
    font-weight: 500;
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: -1px 4px 6px -3px #5B5959;
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #1e1f26;
    border: none;
    box-shadow: -1px 4px 6px -3px #5B5959;
}

button:focus {
    outline: none;    
}

/* Jumbotron section
 ========================================================================== */
.jumbotron-img {
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-position: 100% 32%;    
}

/* Jumbotron text and title */
.text {
    color: #fff;
    text-shadow: 2px 2px 20px #1e1f26;
    font-family: 'Roboto', sans-serif;
}

.text-title {
    color: #fff;
    text-shadow: 2px 2px 60px #4e4e4e;
    font-family: 'Roboto', sans-serif;
}

/* Forms section
 ========================================================================== */
/* Search */
 .input-group.md-form.form-sm.form-2 input.search {
    border: 1px solid #d6d0d0;
    border-radius: 21px 0px 0px 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    padding: 11px 23px; 
    border-right: transparent;
    outline: none; 
}

.form-control:focus {
    box-shadow: inset 0 -1px 0 transparent;
}

/* Search icon */
.input-group-append span.icon {
    background-color: transparent;
    border-radius: 21px 21px 21px 21px;
    border-color: #d6d0d0;      
}

.text-message {
    font-size: 22px;
    font-family: "Leckerli One";
    color: #1e1f26;
    font-weight: 400;
    margin-top: 15px
}

/* Login box */
.login {    
    border-radius: 0px 21px 21px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    border: 1px solid #d6d0d0; 
    border-left: transparent; 
    outline: none; 
}
.login-form {
    margin-top: 10px
}


/* Login icon */
.input-group-prepend div.icon {
    background-color: transparent;
    border-radius: 21px 21px 21px 21px;
    border: 1px solid #d6d0d0;
}
.icon-color {
    color: #ffbb00;
}

/* Login button */
.btn-little {
    border-radius: 14px;
    background-color: #ffbb00;
    position: absolute;
    display: inline-block;
    margin-top: -17px;
    border: none;
}

.btn-little:hover {
    color: #fff;
}
.btn-little:focus {
    outline: none;
}

.hc-text-center {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #662225;
    font-weight: 500;
}

a:hover {
    color: #ffbb00;
    text-decoration: none;
    font-weight: 500;
}

/* Modal section
 ========================================================================== */

.modal-body, .card-body-color, .modal-header {
    background-color: #fff;
    border: none;
}

/* Recipes section
 ========================================================================== */
.description {
    position: relative;
    right: 43px;
    width: 100%;
    top: -10px;
}

.more {
    position: absolute;
    right: -45px;
    top: -5px;
}

.card-footer {
    border: none;
    background-color: transparent;
}

.card {
    border: none;
}

h6 {
    color: #8d9398;    
    font-weight: 400;
    font-size: 15px;
}

/* Icon color recipes */
.red {
    color: #df583b;
}

/* Background image */
.image-bg {
    background-image: url("../images/fondo.png"); 
    background-repeat: repeat;
    image-rendering: optimizeQuality;    
}

/* Register transitions */
.form button {
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;  
    margin-left: 0px;  
}
.form .register-form-chef {
    display: none;
}

/* Form title */
h4 {
    text-align: center;
}
  
.multimedia {
    margin-top: 40px;
}

.iconos {
    position: relative;
    left: 62%;
    top: -14px;
}
  
footer {
    background-color:transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #1e1f26;
    font-weight: 500;
  }
  
/* User section
 ========================================================================== */  
 .user-img {
    width: 50px;
}

.btn-user {
    padding: 0px 25px;
    margin: -10px;
}

.dropdown-menu.show {
    min-width: 0rem;
    display: block;
    left: 10px;
}
.btn.focus, .btn:focus, .btn:active  {
    outline: none;
    box-shadow: -1px 4px 6px -3px #5B5959;
}

.user-mn {
    border: none;
    box-shadow: -1px 4px 6px -3px #5B5959;
}

.user-name {
    cursor: none;
    font-weight: 600;
}